<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">assignment</mat-icon>&nbsp;
      Hazards
    </ng-template>
    <ng-template matTabContent>
      <app-incident-dashboard 
      
        [clusterList]="clusterList" numcategory="1" [sbuList]="sbuList" [siteList]="siteList"></app-incident-dashboard>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">assignment</mat-icon>&nbsp;
      Incidents
    </ng-template>
    <ng-template matTabContent>
      <app-incident-dashboard 
      
        [clusterList]="clusterList" numcategory="2" [sbuList]="sbuList" [siteList]="siteList"></app-incident-dashboard>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">directions_walk</mat-icon>&nbsp;
      SAFETY-WALK REPORTS
    </ng-template>
    <ng-template matTabContent>
      <app-safety-walk-dashboard 
      *ngIf="clusterList.length > 0 && sbuList.length > 0 && siteList.length > 0"
        [clusterList]="clusterList" [sbuList]="sbuList" [siteList]="siteList"></app-safety-walk-dashboard>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">archive</mat-icon>&nbsp;
      SUGGESTION BOX
    </ng-template>
    <ng-template matTabContent>
      <app-suggestion-dashboard *ngIf="clusterList.length > 0 && sbuList.length > 0 && siteList.length > 0"
        [clusterList]="clusterList" [sbuList]="sbuList" [siteList]="siteList"></app-suggestion-dashboard>
    </ng-template>
  </mat-tab>

</mat-tab-group>