<p-card style="padding: 20px;">
    <p-toast />
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Cluster</h5>
                        <div>
                            <p-dropdown [style]="{'width':'100%'}" [options]="clusterDataList" name="varClusterCode"
                                [(ngModel)]="varClusterCode" (ngModelChange)="onClusterChange()" [filter]="true"
                                filterBy="label"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mt-2">
                <div class="row mt-4">
                    <div class="col-md-6">

                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</p-card>





<p-card>

    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button styleClass="p-button-secondary" class="mr-2 add-new-button" label="New SBU" icon="pi pi-plus"
                (onClick)="toggleAddNewModal()" />
            <!-- <p-button styleClass="p-button-danger" label="Delete" icon="pi pi-trash"
                [disabled]="!selectedProducts || !selectedProducts.length" /> -->
        </ng-template>

        <ng-template pTemplate="right">
            <p-button styleClass="p-button-primary" label="Export" icon="pi pi-upload" (onClick)="exportCSV()" />
        </ng-template>
    </p-toolbar>


    <p-table #sbuTable [columns]="cols" [exportHeader]="'customExportHeader'" exportFilename="HOC_Incident-Data"
        [responsive]="true" styleClass="p-datatable-gridlines" [value]="SBUList" [tableStyle]="{'min-width': '60rem'}"
        [rows]="10" [paginator]="true">

        <ng-template pTemplate="header">
            <tr>

                <th style="max-width:3rem;text-align: center;">Sbu Code</th>
                <th>SBU Name</th>
                <th style="max-width:10rem;">SBU EMail</th>
                <th style="max-width:4rem;text-align: center;">#</th>
            </tr>
            <tr>
                <th style="max-width:3rem;text-align: center;">
                    <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                        (input)="sbuTable.filter($event.target.value, 'varSBUCode', 'contains')">
                </th>
                <th>
                    <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                        (input)="sbuTable.filter($event.target.value, 'varSBUName', 'contains')">
                </th>
                <th>
                    <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                        (input)="sbuTable.filter($event.target.value, 'varEmail', 'contains')">
                </th>
                <th style="max-width:3rem;text-align: center;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-singleSBU>
            <tr>
                <td style="max-width:3rem;text-align: center;">{{singleSBU.varSBUCode}}</td>
                <td>{{singleSBU.varSBUName}}</td>
                <td style="max-width:10rem;">
                    <div class=" flex align-items-center gap-2 flex-wrap">
                        <p-chip styleClass="mr-1 mb-1" *ngFor="let email of singleSBU.varEmailList.slice(0, 3)"
                            [pTooltip]="email" tooltipPosition="bottom" [label]="email.slice(0,15) + '...'"></p-chip>
                        <p-chip styleClass="mr-1 mb-1" *ngIf="singleSBU.varEmailList.length > 3"
                            [label]="'+' + (singleSBU.varEmailList.length - 3) + ' more'"></p-chip>
                    </div>
                </td>
                <td style="max-width:4rem;text-align: center;">
                    <p-button styleClass="edit-button mr-2" icon="pi pi-envelope" [rounded]="true" [outlined]="true"
                        (onClick)="toggleemailModal(singleSBU)" />
                    <p-button styleClass="edit-button mr-2" icon="pi pi-pencil" [rounded]="true" [outlined]="true"
                        (onClick)="editSBU(singleSBU)" />
                    <p-button styleClass="delete-button" icon="pi pi-trash" severity="danger" [rounded]="true"
                        [outlined]="true" (onClick)="deleteSBU(singleSBU)" />
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{SBUList ? SBUList.length : 0 }} SBUs.
            </div>
        </ng-template>
    </p-table>
</p-card>




<form #sbuForm="ngForm">
    <p-dialog [(visible)]="addedtiModal.AddClusterModal" [style]="{ width: '450px' }" header="Add A New SBU"
        [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">

                <label for="name">Cluster {{addedtiModal.numSBUID}} </label>
                <input type="text" pInputText id="name" name="varClusterCode" required disabled
                    [(ngModel)]="clusterName" (value)="clusterName" #clusterNameInput="ngModel" />
                <small class="p-error" *ngIf="clusterNameInput.invalid && clusterNameInput.touched">
                    Cluster is required.
                </small>
            </div>
            <div class="field">
                <label for="name">SBU Code</label>
                <input type="text" pInputText id="name" name="varSBUCode" required autofocus
                    [(ngModel)]="addedtiModal.varSBUCode" (value)="addedtiModal.varSBUCode" #sbuCode="ngModel"
                    maxlength="3" />
                <small class="p-error" *ngIf="sbuCode.invalid && sbuCode.touched">
                    SBU code is required.
                </small>
            </div>

            <div class="field">
                <label for="name">SBU Name</label>
                <input type="text" pInputText id="name" name="varSBUName" required [(ngModel)]="addedtiModal.varSBUName"
                    #sbuName="ngModel" />
                <small class="p-error" *ngIf="sbuName.invalid && sbuCode.touched">
                    SBU Name is required.
                </small>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-times" [text]="true"
                (onClick)="toggleAddNewModal()" />
            <p-button styleClass="p-button-success" label="Save" icon="pi pi-check" [text]="true"
                (onClick)="addEditAction(sbuForm)" [(disabled)]="sbuForm.invalid" />
        </ng-template>


    </p-dialog>
</form>


<p-dialog [(visible)]="emailModal.AddClusterModal" [style]="{ width: '450px' }" header="Update SBU Email List"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <p-chip styleClass="mr-1 mb-2" *ngFor="let email of emailModal.varEmailList" [pTooltip]="email" [label]="email"
            [removable]="true" tooltipPosition="bottom" (onRemove)="onRemoveChip(email)"></p-chip>


        <div class="mt-2 flex flex-column md:flex-row gap-3">
            <label for="name">Add New Email address</label>

            <div class="d-flex flex-row">
                <input [(ngModel)]="newEmail" type="text" pInputText placeholder="email address" (value)="newEmail" />
                <p-button styleClass="p-button-success" icon="pi pi-plus" [text]="true" (onClick)="addEmailToLst()"
                    [(disabled)]="sbuForm.invalid" />
            </div>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-times" [text]="true"
            (onClick)="toggleemailModal()" />
        <p-button styleClass="p-button-success" label="Save" icon="pi pi-check" [text]="true"
            (onClick)="UpdateEmailListAction()" [(disabled)]="sbuForm.invalid" />
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />