<p-card style="padding: 20px;">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Cluster</h5>
                        <div>
                            <p-dropdown [style]="{'width':'100%'}" [options]="clusterDataList" name="varClusterCode"
                                [(ngModel)]="varClusterCode" (ngModelChange)="onClusterChange()" [filter]="true"
                                filterBy="label"></p-dropdown>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h5>SBU </h5>
                        <div>
                            <p-dropdown [style]="{'width':'100%'}" [options]="SBUDataList" name="varSBUCode"
                                [(ngModel)]="varSBUCode" (ngModelChange)="LoadSIteUserList()" [filter]="true"
                                filterBy="label"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</p-card>





<p-card>
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button styleClass="p-button-secondary" class="mr-2 add-new-button" label="New SBU User" icon="pi pi-plus"
                (onClick)="toggleAddNewModal()" />
            <!-- <p-button styleClass="p-button-danger" label="Delete" icon="pi pi-trash"
                [disabled]="!selectedProducts || !selectedProducts.length" /> -->
        </ng-template>

        <ng-template pTemplate="right">
            <!-- <p-button styleClass="p-button-primary" label="Export" icon="pi pi-upload" (onClick)="exportCSV()" /> -->
        </ng-template>
    </p-toolbar>


    <p-table #sbuTable [columns]="cols" [exportHeader]="'customExportHeader'" exportFilename="HOC_Incident-Data"
        [responsive]="true" styleClass="p-datatable-gridlines" [value]="SBUUserList"
        [tableStyle]="{'min-width': '60rem'}" [rows]="10" [paginator]="true">

        <ng-template pTemplate="header">
            <tr>

                <th style="max-width:3rem;text-align: center;">User Code</th>
                <th style="max-width:4rem;">User Name</th>
                <th style="max-width:4rem;">User Email</th>
                <th style="max-width:2rem;">User Role</th>
                <th style="max-width:3rem;text-align: center;">#</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-singleSite>
            <tr>
                <td style="max-width:3rem;text-align: center;">{{singleSite.varUserCode}}</td>
                <td style="max-width:4rem;">{{singleSite.varUserName}}</td>
                <td style="max-width:4rem;">{{singleSite.varEmail}}</td>
                <td style="max-width:2rem;">
                    <p-tag [value]="singleSite.severity.text" [severity]="singleSite.severity.color" />

                </td>
                <td style="max-width:3rem;text-align: center;">
                    <p-button styleClass="delete-button" icon="pi pi-trash" severity="danger" [rounded]="true"
                        [outlined]="true" (onClick)="removeUser(singleSite)" />
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{SitesList ? SitesList.length : 0 }} Sites.
            </div>
        </ng-template>
    </p-table>
</p-card>


<form #userPromoteForm="ngForm">
    <p-dialog [(visible)]="promoteuserModal.modalVisibility" [style]="{ width: '450px' }" header="Add A New SBU user"
        [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="field">
                <label for="name">User Code</label>
                <input type="text" pInputText id="name" required autofocus [(ngModel)]="promoteuserModal.varUserCode"
                    name="varUsercode" #userCode="ngModel" />

                <small class="p-error" *ngIf="userCode.invalid && userCode.touched">
                    uesr code is required.
                </small>
            </div>

            <div class="field mt-4">
                <label for="name">User Role</label>
                <div class="row" style="justify-content: space-evenly;">
                    <div class="row align-items-center mb-3">
                        <p-radioButton name="SBUOHSOfficer" value="SBUOHSOfficer" [(ngModel)]="promoteuserModal.promoteType" inputId="siteohs" />
                        <label for="siteohs" class="ml-2">
                            SBU OHS Officer
                        </label>
                    </div>

                    <div class="row align-items-center mb-3">
                        <p-radioButton name="SBUHead" value="SBUHead" [(ngModel)]="promoteuserModal.promoteType" inputId="SBUHead" />
                        <label for="SBUHead" class="ml-2">
                            SBU Head
                        </label>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button styleClass="p-button-secondary" label="Cancel" icon="pi pi-times" [text]="true"
                (onClick)="toggleAddNewModal()" />
            <p-button styleClass="p-button-success" label="Save" icon="pi pi-check" [text]="true"
                (onClick)="PromoteUserAction(userPromoteForm)" />
        </ng-template>
    </p-dialog>
</form>

<p-confirmDialog [style]="{ width: '450px' }" />