<mat-nav-list class="mat-nav-list">
  <a routerLinkActive="active" mat-list-item routerLink="/home/hoc-dashboard">
    <mat-icon>dashboard</mat-icon>&nbsp;
    <label class="pd-top ml-2">HOC Dashboard</label>
  </a>


  <a routerLinkActive="active" mat-list-item routerLink="/home/structure" *ngIf="user.authority==='Admin'">
    <mat-icon>pallet</mat-icon>&nbsp;
    <label class="pd-top ml-2">Organization structure</label>
  </a>
  <a routerLinkActive="active" mat-list-item routerLink="/home/structure-users" *ngIf="user.authority==='Admin'">
    <mat-icon>contact_emergency</mat-icon>&nbsp;
    <label class="pd-top ml-2">Organization Users</label>
  </a>
  <a routerLinkActive="active" mat-list-item routerLink="/home/user-management" style="display: flex;" *ngIf="user.authority==='Admin'">
    <mat-icon>people</mat-icon>&nbsp;
    <label class="pd-top ml-2">User Management</label>
  </a>

</mat-nav-list>