<p-card style="padding: 20px;">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label>Cluster</label>
                        <div>
                            <p-dropdown [style]="{'width':'100%'}" [options]="clusterDataList" name="varClusterCode"
                                [(ngModel)]="varClusterCode" (ngModelChange)="onClusterChange()"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>SBU</label>
                        <div>
                            <p-dropdown [style]="{'width':'100%'}" [options]="sbuDataList" name="varSBUCode"
                                [(ngModel)]="varSBUCode" (ngModelChange)="onSBUChange()"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Site</label>
                        <div>
                            <p-dropdown [style]="{'width':'100%'}" [options]="siteDataList" name="varSiteCode"
                                [(ngModel)]="varSiteCode" placeholder="Select a Site"
                                (ngModelChange)="onSiteChange()"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <label>From Date</label>
                        <p-calendar appendTo="body" [(ngModel)]="filterDT.dteFromDate"
                            [readonlyInput]="true"></p-calendar>
                    </div>
                    <div class="col-md-6">
                        <label>To Date</label>
                        <p-calendar appendTo="body" [(ngModel)]="filterDT.dteToDate"
                            [readonlyInput]="true"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mt-2">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <button pButton type="button" class="ui-button-raised ui-button-success" icon="pi pi-search"
                            iconPos="left" label="Search" (click)="onSearchByDate()"></button>
                    </div>
                    <div class="col-md-6">
                        <button pButton type="button" class="ui-button-raised ui-button-danger" icon="pi pi-times"
                            iconPos="left" label="Clear" (click)="onClearSearch()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-card>




<div class="mt-2">
    <div class="p-2 mt-4">
        <mat-card>
            <p-table #incidentTable exportFilename="HOC_Incident-Data" [columns]="cols" [value]="IncidentDT"
               [rows]="10" [showCurrentPageReport]="true" [scrollable]="true">
                <ng-template pTemplate="caption">
                    <div style="display: flex;    justify-content: space-between;">
                        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Export"
                            (click)="incidentTable.exportCSV()" style="float:left"></button>
                        <p-dropdown class="jb-filter" [options]="jobTypes" [(ngModel)]="jobType"
                            (onChange)="onJobTypeChanged()"></p-dropdown>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 150px;"></th>
                        <th *ngFor="let col of columns">{{col.header}}</th>
                    </tr>
                    <tr>
                        <!-- <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text" (input)="incidentTable.filter($event.target.value, 'varGroupName', 'contains')">
                        </th> -->
                        <th style="width: 150px;"></th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varSBUName', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varSiteName', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varCategoryName', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varCategoryTypeDes', 'contains')">
                        </th>


                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varRiskStatus', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varIncDes', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'dteIncDate', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varCreateBy', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varAssignedTo', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'varActionComment', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="incidentTable.filter($event.target.value, 'bitClose', 'contains')">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-incident>
                    <tr>
                        <!-- <td>{{incident.varGroupName}}</td> -->
                        <td style="width: 150px;text-align: center;">

                            <div class="row justify-content-center">
                                <p-button pTooltip="Incident Image" tooltipPosition="top" *ngIf="incident.IncidentImgList.length > 0" styleClass="table-button edit-button mr-2" icon="pi pi-images" [rounded]="true"
                                    [outlined]="true"
                                    (onClick)="onViewImages(incident.varCategoryTypeDes, incident.numIncID)" />
                                <p-button pTooltip="assign user" tooltipPosition="top" *ngIf="incident.bitClose === 'False'" styleClass="table-button delete-button" icon="pi pi-users" severity="danger" [rounded]="true"
                                    [outlined]="true" (onClick)="onAssignUsersBtnClick(incident.numIncID)" />
                                <br />
                                <p-button pTooltip="Post a Comment " tooltipPosition="top" *ngIf="incident.bitClose === 'False'" styleClass="table-button delete-button" icon="pi pi-comment" severity="danger" [rounded]="true"
                                    [outlined]="true" (onClick)="onCloseActivity(incident.numIncID)" />
                            </div>
                            


                            <!-- <button pButton pTooltip="View Images" type="button" class="ui-button-raised ui-button-info"
                                icon="pi pi-images" iconPos="left"
                                (click)="onViewImages(incident.varCategoryTypeDes, incident.numIncID)"></button>
                            <button *ngIf="incident.bitClose == 'False'" pButton pTooltip="Assign User" type="button"
                                class="ui-button-raised ui-button-success" icon="pi pi-users" iconPos="left"
                                (click)="onAssignUsersBtnClick(incident.numIncID)"></button>
                            <button *ngIf="incident.bitClose == 'False'" pButton pTooltip="Close Job" type="button"
                                class="ui-button-raised ui-button-danger" icon="pi pi-check" iconPos="left"
                                (click)="onCloseActivity(incident.numIncID)"></button> -->
                        </td>
                        <td>{{incident.varSBUName}}</td>
                        <td>{{incident.varSiteName}}</td>
                        <td>{{incident.varCategoryName}}</td>
                        <td>{{incident.varCategoryTypeDes}}</td>
                        <td>{{incident.varRiskStatus}}</td>
                        <td>{{incident.varIncDes}}</td>
                        <td>{{incident.dteIncDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{incident.varCreateBy}}</td>
                        <td>{{incident.varAssignedTo}}</td>
                        <td>{{incident.varActionComment}}</td>
                        <td>
                            <p-tag [severity]="incident.bitClose =='True' ? 'success' : 'error'" [value]="incident.bitClose =='True' ? 'Closed' : 'Opened'"></p-tag>
                            
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator #paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" [first]="page"
                (onPageChange)="onPageChange($event)"></p-paginator>
        </mat-card>
    </div>

</div>

<p-dialog modal="true" appendTo="body" [positionTop]="50" header="Image Attachments - {{imageModalTitle}}"
    [(visible)]="showImageModal" [contentStyle]="{'max-height':'80vh'}" [style]="{ width: '700px' }">
    <div class="col-md-12">
        <h5 *ngIf="IncidentImgDT.length == 0">No Attachments Available.</h5>
        <table>
            <tr *ngFor="let image of IncidentImgDT">
                <img [src]="image.imageUrl">
            </tr>
        </table>
    </div>
</p-dialog>

<p-dialog modal="true" appendTo="body" [positionTop]="50" header="Assign Users" [(visible)]="showAssignUsersModal"
    [style]="{ width: '700px' }">
    <div class="col-md-12">
        <mat-card>
            <p-table #HeadUsersTable [columns]="HeadUsersTableCols" [value]="AllHeadUsers" [paginator]="true"
                [responsive]="true" [rows]="10" [showCurrentPageReport]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">{{col.header}}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="HeadUsersTable.filter($event.target.value, 'varUserName', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="HeadUsersTable.filter($event.target.value, 'varUserCode', 'contains')">
                        </th>
                        <th>
                            <input style="width: 100%; font-size: 9pt;" pInputText type="text"
                                (input)="HeadUsersTable.filter($event.target.value, 'varUserRole', 'contains')">
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-headUsers>
                    <tr>
                        <!-- <td>{{incident.varGroupName}}</td> -->
                        <td>{{headUsers.varUserName}}</td>
                        <td>{{headUsers.varUserCode}}</td>
                        <td>{{headUsers.varUserRole}}</td>
                        <td>
                            <p-radioButton name="selectHeadUser" value="val1"
                                (click)="onUserRadioButtonSelected(headUsers.varUserCode)"></p-radioButton>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template> -->
            </p-table>
        </mat-card>
    </div><br />
    <div class="col-md-12">
        <button pButton pTooltip="Assign User" label="Assign" type="button"
            class="ui-button-raised ui-button-info pull-right" icon="pi pi-chevron-circle-right" iconPos="left"
            style="position: absolute; bottom: 5px; right: 25px;" (click)="onAssignUsers()"></button>&nbsp;
    </div>
</p-dialog>

<p-dialog modal="true" appendTo="body" [positionTop]="50" header="Post a response"
    [(visible)]="showCloseModal" [contentStyle]="{'max-height':'80vh'}" [style]="{ width: '700px' }">

    <div class="col-md-12 d-flex justify-content-between mt-1">
        <label><b>Response Type</b></label>
        <div class="flex justify-content-center">
            <p-toggleButton onLabel="Comment & Close" offLabel="Comment" 
                onIcon="pi pi-check" offIcon="pi pi-comment" styleClass="w-9rem" ariaLabel="Do you confirm"  [(ngModel)]="varActionType" />
        </div>
    </div>
    <div class="col-md-12">
        <label><b>Comment</b></label>
        <textarea class="f-width" rows="5" cols="30" pInputTextarea name="varActionComment"
            [(ngModel)]="varActionComment"></textarea>
    </div>
    <div class="col-md-12 text-right">
        <button pButton type="button" icon="pi pi-check" iconPos="left" label="Submit"
            (click)="onSubmitCloseIncident()"></button>
    </div>
</p-dialog>

<p-confirmDialog appendTo="body" header="Close Incident Confirmation"
    icon="pi pi-exclamation-triangle"></p-confirmDialog>