<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">group_work</mat-icon>&nbsp;
            Clusters
        </ng-template>
        <ng-template matTabContent>
            <app-cluster [clusterList]="clusterList"></app-cluster>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_none</mat-icon>&nbsp;
            SBU
        </ng-template>
        <ng-template matTabContent>
            <app-sbu [clusterList]="clusterList"></app-sbu>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">home</mat-icon>&nbsp;
            Sites
        </ng-template>
        <ng-template matTabContent>
            <app-sites [clusterList]="clusterList"></app-sites>
        </ng-template>
    </mat-tab>
</mat-tab-group>


