<app-header (toggleSideBarEmitter)="sideBarToggler($event)" [headerVisibility]="headerVisibility"></app-header>
<!-- <mat-drawer-container>
  <mat-drawer mode="side" [opened]="sidebarOpened">
    <app-sidebar (sideBarToggle)="sideBarToggleFromLink($event)"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card style="background-color: rgb(235, 235, 235);padding: 20px;padding-top: 0px;">
        <router-outlet></router-outlet>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
 -->


<mat-drawer-container >
  <mat-drawer mode="side" [opened]="sidebarOpened" class="sidebar">
    <app-sidebar (sideBarToggle)="sideBarToggler($event)"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card style="background-color: rgb(235, 235, 235);padding: 20px;padding-top: 0px;">
      <router-outlet></router-outlet>
  </mat-card>
  </mat-drawer-content>
</mat-drawer-container>